@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-card {
  background: #111;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #222;
  transition: 0.2s;
}
.dashboard-card:hover {
  background: #181818;
  transform: translateY(-2px);
}
/* Remove Chrome Autofill White Background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: #181818 !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}
